@import url("https://use.typekit.net/hnx8rum.css");

body,
html {
  margin: 0;
  padding: 0;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  color: #2b2b2b;
  letter-spacing: 1.5px;
  line-height: 1.6rem;
  font-size: 1rem;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(255, 250, 240, 0.6);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: -1;
}



h1 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  color: rgba(43, 43, 43, 0.85);
  letter-spacing: 1.5px;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin-left: 0.3rem;
}


a {
  transition: 0.3s ease;
  color: rgba(43, 43, 43, 0.85);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(43, 43, 43, 0.75);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}


.header {
  width: 95vw;
  padding-top: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.logo img {
  width: 35rem;
  opacity: 0.95;
  transform: translateX(5%) scaleX(1.25);

}

.header .nav {
  display: flex;
  align-items: center;
  gap: 1.25rem;
}

.header .nav a {
  font-weight: 400;
  font-size: 1rem;
}


.fonts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem 2rem 2rem 2rem;
}


.footer {
  font-size: 1rem;
  font-weight: 400;
  width: 95vw;
  text-align: left;
  padding: 0.5rem 0;
  color: rgba(43, 43, 43, 0.75);
}

.font-item {
  display: flex;
  position: relative;
  height: 10rem;
  /* border: 1px solid rgba(43, 43, 43, 0.1); */
  width: 90vw;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
  padding-bottom: 0;
}

.font-wrapper {
  transition: all 1s ease;
}

.font-description {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  padding: 1rem 1rem 0 1rem;
  transition: all 1s ease;
  /* border: 1px solid rgba(43, 43, 43, 0.1); */
  /* background-color: #fefcf7; */
}

.font-wrapper:hover .font-description {
  max-height: 120px;
  transition: all 0.5s ease;
  opacity: 1;
}

.font-details {
  margin-bottom: 1rem;
  padding-left: 1.2rem;
  list-style-type: disc;
}


.font-details li {
  margin-bottom: 0.25rem;
}

.font-preview-wrapper {
  width: 100%;
  overflow-x: hidden;
  position: relative;
  display: flex;
  align-items: center;
}


.font-preview {
  display: inline-block;
  font-size: 6.5rem;
  line-height: normal;
  white-space: nowrap;
  outline: none;
  scrollbar-width: none;
  transform: translateX(0);
  /* initial offset */
  transition: transform 0.05s linear;
  /* smooth scroll feel */
}

.font-preview::-webkit-scrollbar {
  display: none;
}

.font-preview.placeholder {
  color: rgba(43, 43, 43, 0.5);
  /* semi-transparent */
}

.font-controls {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  z-index: 100;
}


.weight-slider {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: rgba(43, 43, 43, 0.2);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.weight-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 16px;
  background: rgba(43, 43, 43, 0.75);
  border-radius: 2px;

}

.weight-slider:hover::-webkit-slider-thumb {
  background: rgba(43, 43, 43, 1);
}

.color-picker {
  display: flex;
  gap: 0.5rem;
  margin-right: 0.5rem;
  align-items: center;
}

.color-dot {
  width: 1.1rem;
  height: 1.1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.color-dot.black {
  background-color: black;
}

.color-dot.green {
  background-color: #4A8D00; 
}

.color-dot.active {
  box-shadow: 0 0 0 2px white, 0 0 5px rgba(47, 47, 47, 0.8);
  transform: scale(1.1);
}


.download-icon {
  width: 1.75rem;
  height: 1.75rem;
  transition: opacity 0.3s ease;
  opacity: 0.75;
}

.download-icon:hover {
  opacity: 1;
}

.rats {
  font-family: "Rats";
  font-variation-settings: "wght" 0;
}

.bloom {
  font-family: "Bloom";
  font-variation-settings: "BLOM" 100;
}

.bloom-black {
  font-family: "Bloom-Black";
  font-variation-settings: "BLOM" 100;
}


.twinkle {
  font-family: "Twinkle-Twinkle";
  font-variation-settings: "STAR" 100;
}


.doodles {
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.doodle {
  position: fixed;
  opacity: 0.2;
  height: auto;
  z-index: 0;
  user-select: none;
}


.doodle-top-left {
  top: 38px;
  left: -50px;
  width: 210px;
  rotate: -15deg;
}

.doodle-top-right {
  top: 35px;
  right: -90px;
  width: 180px;
  rotate: 5deg;
  opacity: 0.15;
}

.doodle-small-left {
  bottom: 40%;
  left: 20;
  width: 40px;
  rotate: -5deg;
}


.doodle-bottom-left {
  bottom: 45px;
  left: 0;
  width: 100px;
  rotate: 10deg;
  opacity: 0.17;
}


.doodle-right-corner {
  bottom: 30px;
  right: 3%;
  width: 80px;
  rotate: -5deg;
  opacity: 0.15;
}

.doodle-small-right {
  bottom: 22%;
  right: 15px;
  width: 60px;
  rotate: -2deg;
}


.doodle-left {
  top: 35%;
  left: 0px;
  transform: translateY(-50%);
  width: 110px;
  rotate: -5deg;
}

.doodle-right {
  top: 38%;
  right: -75px;
  transform: translateY(-50%);
  transform: scaleX(-1);
  width: 230px;
  rotate: -42deg;
}


.doodle-bottom-center {
  bottom: -10px;
  left: 60%;
  transform: translateX(-50%);
  transform: scaleX(-1);
  rotate: 0deg;
  width: 220px;
}




@font-face {
  font-family: "Rats";
  src: url("../fonts/RatsVF.ttf") format("truetype");
  font-weight: 0 100;
  font-style: normal;
}

@font-face {
  font-family: "Bloom";
  src: url("../fonts/BloomVF.ttf") format("truetype");
  font-weight: 0 100;
  font-style: normal;
}

@font-face {
  font-family: "Bloom-Black";
  src: url("../fonts/Bloom-BlackVF.ttf") format("truetype");
  font-weight: 0 100;
  font-style: normal;
}

@font-face {
  font-family: "Twinkle-Twinkle";
  src: url("../fonts/TwinkleTwinkleVF.ttf") format("truetype");
  font-weight: 0 100;
  font-style: normal;
}



/* responsive  media queries*/
@media (max-width: 768px) {}