@import url("https://use.typekit.net/hnx8rum.css");

body, html {
  margin: 0;
  padding: 0;
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  color: #2b2b2b;
  letter-spacing: 1.5px;
  line-height: 1.6rem;
  font-size: 1rem;
  cursor: url("../images/crayon.png") 4 4, auto;
}

h1 {
  font-family: "grenadine-mvb", sans-serif;
  font-weight: 400;
  color: rgba(43, 43, 43, 0.85);
  letter-spacing: 1.5px;
  line-height: 1.6rem;
  font-size: 1.1rem;
  margin-left: 0.3rem;
}


a {
  transition: 0.3s ease;
  color: rgba(43, 43, 43, 0.85);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: rgba(43, 43, 43, 0.75);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
}


.header {
  width: 95vw;
  padding: 2rem;
  padding-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.center {
  position: absolute;
  left: 50%;
  top: 5%;
  transform: translateX(-50%);

}

.center img {
  width: 10rem;
  opacity: 0.95;

}

.header .left img {
  width: 4rem;
}

.header .right a {
  align-items: center;
  margin-left: 1.25rem;
  font-weight: 400;
  font-size: 1rem;
}


.fonts-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem 2rem;
}


.footer {
  font-size: 1rem;
  font-weight: 400;
  width: 95vw;
  text-align: left;
  padding: 0.5rem 0;
  color: rgba(43, 43, 43, 0.75);
}

.font-item {
  display: flex;
  position: relative;
  height: 10rem;
  border: 1px solid rgba(43, 43, 43, 0.1);
  width: 90vw;
  box-sizing: border-box;
  align-items: center;
  padding: 1rem;
}

.font-preview-wrapper {
  width: 100%;              
  overflow-x: hidden;             
  position: relative;
  display: flex;
  align-items: center;
}


.font-preview {
  display: inline-block;
  font-size: 6.5rem;
  line-height: normal;
  white-space: nowrap;          
  outline: none;                
  scrollbar-width: none;  
  transform: translateX(0);     /* initial offset */
  transition: transform 0.05s linear;  /* smooth scroll feel */       
}

.font-preview::-webkit-scrollbar {
  display: none;              
}

.font-preview.placeholder {
  color: rgba(43, 43, 43, 0.5); /* semi-transparent */
}

.font-controls {
  position: absolute;
  top: 1.2rem;
  right: 1.2rem;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  z-index: 100;
}


.weight-slider {
  width: 100px;
  -webkit-appearance: none;
  appearance: none;
  height: 4px;
  background: rgba(43, 43, 43, 0.15);
  border-radius: 2px;
  outline: none;
  cursor: pointer;
}

.weight-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 16px;
  background: rgba(43, 43, 43, 0.75);;
  border-radius: 2px;

}

.weight-slider:hover::-webkit-slider-thumb {
  background: rgba(43, 43, 43, 1);
}

.download-icon {
  width: 1.75rem;
  height: 1.75rem;
  transition: opacity 0.3s ease;
  opacity: 0.75;
}

.download-icon:hover {
  opacity: 1;
}

.rats {
  font-family: "Rats";
  font-variation-settings: "wght" 0;
}

.bloom {
  font-family: "Bloom";
  font-variation-settings: "BLOM" 0;
}


.twinkle {
  font-family: "Twinkle-Twinkle";
  font-variation-settings: "STAR" 100;
}


.doodles {
  pointer-events: none; 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0; 
}

.doodle {
  position: fixed;
  opacity: 0.2;
  height: auto;
  z-index: 0;
  user-select: none;
}


.doodle-top-left {
  top: 63px;
  left: -50px;
  width: 210px;
  rotate: -15deg;
}

.doodle-top-right {
  top: 90px;
  right: -90px;
  width: 190px;
  rotate: 5deg;
  opacity: 0.17;
}

.doodle-small-left {
  bottom: 35%;
  left: 20;
  width: 40px;
  rotate: -5deg;
}


.doodle-bottom-left {
  bottom: 40px;
  left: 0;
  width: 100px;
  rotate: 10deg;
  opacity: 0.17;
}


.doodle-right-corner {
  bottom: 25px;
  right: 3%;
  width: 80px;
  rotate: -5deg;
  opacity: 0.15;
}

.doodle-small-right {
  bottom: 16%;
  right: 15px;
  width: 60px;
  rotate: -2deg;
}


.doodle-left {
  top: 40%;
  left: 0px;
  transform: translateY(-50%);
  width: 110px;
  rotate: -5deg;
}

.doodle-right {
  top: 45%;
  right: -70px;
  transform: translateY(-50%);
  transform: scaleX(-1); 
  width: 230px;
  rotate: -45deg;
}


.doodle-bottom-center {
  bottom: -10px;
  left: 60%;
  transform: translateX(-50%);
  transform: scaleX(-1); 
  rotate: 0deg;
  width: 220px;
}




@font-face {
  font-family: "Rats";
  src: url("../fonts/RatsVF.ttf") format("truetype");
  font-weight: 0 100; 
  font-style: normal;
}

@font-face {
  font-family: "Bloom";
  src: url("../fonts/BloomVF.ttf") format("truetype");
  font-weight: 0 100; 
  font-style: normal;
}


@font-face {
  font-family: "Twinkle-Twinkle";
  src: url("../fonts/TwinkleTwinkleVF.ttf") format("truetype");
  font-weight: 0 100; 
  font-style: normal;
}



/* responsive  media queries*/
@media (max-width: 768px) {

}
